 <div class="book-model-bg" id="book-model-bg">
    <div class="book-model" id="book-model">
        <h2 id="book-form-header"></h2>
        {{> bookForm}}
        <span class="book-model-close">X</span>
        <script type="module" src="http://localhost:3000/js/utils/adminBookForm.js"></script>
    </div>
</div>             

<div id="books-container" class="books-container"></div>

<script src="http://localhost:3000/js/utils/renderBooksDiv.js"></script>
