<div id="cart-container" class="cart-container">      
        {{!-- <h2>Shoping cart</h2>   --}}
        {{!-- <div>                    
            <button>X</button>
            <img src="https://wordery.com/jackets/25525f30/billy-summers-stephen-king-9781529365726.jpg?width=260" alt="billy-summers-stephen-king">
            <button>+</button>
            <h3>1</h3>
            <button>-</button>
            <h3 >Price:</h3>
            <h3 class="price-h3">50</h3>
        </div> --}}
        {{!-- <span>
            <h3>Total:</h3>
            <h3>0</h3>
        </span>       --}}
    </div>

    <script src="http://localhost:3000/js/utils/renderCartDiv.js"></script>